*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(122, 196, 196);
}
ul{
    padding: 0;
    margin: 0;
}

.mainmenu{
    /* border: 1px solid red; */
    list-style: none;
    display: flex;
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.mainmenu li{
    padding: 10px 20px;
    
    color: #fff;
}

.mainmenu li a{
    text-decoration: none;
    color: white;
    
}

.submenu{
    /* border: 1px solid red; */
    /* margin-right :40px; */
    display: none;
}

.mainmenu li.dropdown:hover .submenu{
    display: block;
    position: absolute;
    background-color: #333;
}

.submenu li{
    display: block;

}

.submenu li a{
    padding: 10px 20px;

}

.submenu li:hover{
    background-color: #555;
}


.submenu .dropdown .submenu2{
    /* border: 1px solid yellow; */
    display: none;
    
}
.submenu .dropdown:hover .submenu2 {
    left: 100%;
    /* margin-left: 70px; */
    top: 60%;
    display: block;
    width: 100%;
    position: absolute;
    background-color: #333;

}

.submenu2{
    display: block;
}
.dropdown2{
    /* border: 1px solid white; */
    /* position: absolute; */
    /* display: block; */
}

.dropdown2{
    /* border: 1px solid red; */
    display: block;
    /* position: absolute; */
}

.subsubmenu{
    /* border: 1px solid yellow; */

}

.submenu2 .dropdown2 .subsubmenu{
    /* border: 1px solid yellow; */
    display: none;
    margin-top: 10;

}

.dropdown2.subsubmenu li{
    /* border: 1px solid orange; */
}

.dropdown2:hover .subsubmenu{
    left: 100%;
    /* margin-left: 70px; */
    top: 42%;
    display: block;
    width: 100%;
    position: absolute;
    background-color: #333;

}
