@media only screen and (max-width:420px){
 
    body{
        background-color: aquamarine;
    }

    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    
.f{
    width: 80%;
    
}

}